@import url('https://fonts.googleapis.com/css?family=Abel|Aguafina+Script|Artifika|Athiti|Condiment|Dosis|Droid+Serif|Farsan|Gurajada|Josefin+Sans|Lato|Lora|Merriweather|Noto+Serif|Open+Sans+Condensed:300|Playfair+Display|Rasa|Sahitya|Share+Tech|Text+Me+One|Titillium+Web');
@import url('https://fonts.googleapis.com/css2?family=Bayon&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Bayon;
}

body {
	background-color: #232322;
}

.main-img {
	display: block;
	margin: auto;
	width: 128px;
	height: 128px;
}

.container-search {
	background-color: #fff;
	max-width: 655px;
	border-radius: 20px;
	overflow: hidden;
	margin: auto;
	padding: 10px;
}

.main-h1 {
	display: block;
	color: #efb810;
	text-align: center;
	border-bottom: 5px solid #efb810;
	width: 655px;
	padding: 10px;
	margin: 0 auto;
	margin-bottom: 20px;
}

.main-h2 {
	color: rgba(0, 0, 0, 0.46);
	text-align: center;
}

.scrollable-list {
	margin: auto;
	max-width: 100%;
	max-height: 310px;
	overflow-y: auto;
}

.info {
	text-decoration: none;
	color: #000;
	border: 1px solid #efb810;
	border-radius: 5px;
	padding: 5px;
	width: 90%;
	margin-bottom: 10px;
	margin: 10px auto 0;
}

/*Info cancha*/

.titulo {
	color: #EFB810;
	font-size: 96px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-align: center;
	margin-bottom: 10px;
	margin-top: 5px;
}

.titulo-cancha {
	text-align: center;
	font-size: 60px;
}

.p-cancha {
	font-size: 32px;
}

.container-info {
	display: flex;
	justify-content: center;
	gap: 10px;
}

.card {
	background-color: white;
	width: 607px;
	height: 606px;
	border-radius: 20px;
}

.imagen {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 49px;
}

.img-botin {
	width: 128px;
	height: 128px;
	flex-shrink: 0;
	height: auto;
	display: block;
	margin-bottom: 50px;
}

#map {
	height: 606px;
	width: 607px;
}

/*Pantalla carga*/

.carga {
    text-align: center;
    font-size: 48px;
    color: #EFB810;
    font-family: Bayon;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 50px;
}

.spinner-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 84px; 
    height: 84px; 
    border-radius: 50%;
    border-left-color: #EFB810;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.preloader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/*Responsive*/

@media screen and (max-width: 768px) {
	.titulo {
		font-size: 36px;
		margin: 30px 0 20px;
	}

	.titulo-cancha {
		font-size: 30px;
	}
	
	.p-cancha {
		font-size: 20px;
	}

	.container-info {
		flex-direction: column;
		align-items: center;
	}

	.card {
		width: 314px;
		height: 281px;
		margin-bottom: 20px;
	}

	#map {
		width: 314px;
		height: 281px;
	}

	.imagen {
		padding: 20px;
	}

	.img-botin {
		width: 70px;
		height: 70px;
		margin-bottom: 20px;
	}

	.carga {
        font-size: 32px; 
    }

    .spinner {
        width: 64px; 
        height: 64px; 
    }

    .preloader {
        height: 100vh;
    }
}

@media (max-width: 576px) {
	.container-search {
		max-width: 100%;
	}

	.main-h1 {
		max-width: 100%;
		font-size: 24px;
	}

	.main-h2 {
		font-size: 18px;
	}
}

@media screen and (max-width: 480px) {
	.titulo {
		font-size: 24px;
		margin: 30px 0 20px;
	}

	.card {
		width: 314px;
		height: 281px;
		margin-bottom: 20px;
	}

	.imagen {
		padding: 10px;
	}

	.img-botin {
		width: 70px;
		height: 70px;
		margin-bottom: 20px;
	}

	.carga {
        font-size: 32px; 
    }

    .spinner {
        width: 64px; 
        height: 64px; 
    }

    .preloader {
        height: 100vh;
    }
}