<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Canchas</title>
</head>
<body>
    

    <div class="preloader">
        <div class="spinner-container">
            <div class="spinner"></div>
        </div>
            <p class="carga">Cargando los datos</p>
    </div>
    
        <h1 class="titulo">Hoy se Juega</h1>
    <div class="container">
        <div class="card" id=""></div>
        <div class="card"></div>
    </div>
    <div class="imagen">
        <img src="../public/img/botin.png" alt="" class="img">
    </div>

    <script src="../public/js/carga.js"></script>
</body>
</html>